AirPortDB/Connected Services/DALService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ContractsServer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContractsServer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStationModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StationModel" nillable="true" type="tns:StationModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStationModel" nillable="true" type="tns:ArrayOfStationModel" />
  <xs:complexType name="StationModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="plane" nillable="true" type="tns:Plane" />
      <xs:element minOccurs="0" name="stationId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StationModel" nillable="true" type="tns:StationModel" />
  <xs:complexType name="Plane">
    <xs:sequence>
      <xs:element minOccurs="0" name="PlaneID" type="xs:int" />
      <xs:element minOccurs="0" name="StatusFly" type="tns:StatusFly" />
      <xs:element minOccurs="0" name="TimeEnterd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeExist" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Plane" nillable="true" type="tns:Plane" />
  <xs:simpleType name="StatusFly">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Land" />
      <xs:enumeration value="Fly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusFly" nillable="true" type="tns:StatusFly" />
</xs:schema>