AirPortDB/Connected Services/DALService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8199/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContractsServer.Models" />
  <xs:element name="GetListPlanes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPlanesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlane">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContractsServer.Models" minOccurs="0" name="ArrStationModel" nillable="true" type="q1:ArrayOfStationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlaneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatingList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatingListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatingListCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ContractsServer.Models" minOccurs="0" name="listStationModel" nillable="true" type="q2:ArrayOfStationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatingListCallBackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>