Logic/Connected Services/DataBaseWCF/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8070/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContractsServer.Models" />
  <xs:element name="UpdateListPlane">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ContractsServer.Models" minOccurs="0" name="listPlanes" nillable="true" type="q1:ArrayOfStationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListPlaneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>